<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="work.notice.BoardMapper">

		<sql id="criteria">  <!-- MyBatis는 sql태그를 이용해서 SQL의 일부를 별도로 보관하고, 필요한 경우에 include 시키는 형식으로 사용할 수 있다.-->	
		<trim prefix="(" suffix=") AND " prefixOverrides="OR">
<!-- 				String[] getTypeArr 에서 나온 typeArr 쓰는것임 -->
			<foreach item="type" collection="typeArr">
<!-- trim 태그 안에서 먼저 prefix 속성이 'OR' 텍스트를 추가해 줍니다 -->
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>		    
	</sql>
	
	<select id="getList" resultType="work.notice.BoardVO">
		<![CDATA[
		select * from tb_jw_notice where bno > 0
		]]>
	</select>
	
<!-- 	insert into tb_jw_notice (bno, title, content, writer) -->
<!-- values (seq_notice.nextval, '테스트2', '테스트2', '장나라') -->
	<insert id="insert">
		insert into tb_jw_notice (bno, title, content, writer)
		values (seq_notice.nextval, #{title}, #{content}, #{writer})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			select seq_notice.nextval from dual			
		</selectKey>
		insert into tb_jw_notice (bno, title, content, writer)
		values (#{bno}, #{title}, #{content}, #{writer})
	</insert>
	
	<select id="read" resultType="work.notice.BoardVO">
		select * from tb_jw_notice where bno = #{bno}
	</select>

	<delete id="delete">
		delete from tb_jw_notice where bno = #{bno}
	</delete>
	
	<update id="update">
	 	update tb_jw_notice set title=#{title}, content=#{content}, writer=#{writer} 
	 	where bno=#{bno}
	</update>	
	
	<select id="getListWithPaging" resultType="work.notice.BoardVO">
		<![CDATA[
		
		SELECT
		    bno, title, content, writer
	    from(
		    SELECT /*+INDEX_DESC(tb_jw_notice pk_notice) */
		        ROWNUM rn, bno, title, content, writer
		    FROM tb_jw_notice
		    WHERE 
		]]>	
			<trim prefix="(" suffix=") AND " prefixOverrides="OR">
				<foreach item="type" collection="typeArr">
					<trim prefix="OR">
						<choose>
							<when test="type == 'T'.toString()">
								title like '%'||#{keyword}||'%'
							</when>
							<when test="type == 'C'.toString()">
								content like '%'||#{keyword}||'%'
							</when>
							<when test="type == 'W'.toString()">
								writer like '%'||#{keyword}||'%'
							</when>
						</choose>
					</trim>
				</foreach>
			</trim>		    
		<![CDATA[
			ROWNUM <= #{pageNum} * #{amount}
			)
		where rn > (#{pageNum} -1) * #{amount}
		]]>	
		    
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from tb_jw_notice where 
		
		<include refid="criteria"></include>
		
		bno > 0
	</select>
	
	
</mapper>